@use 'variables' as *;

// Миксин для адаптивных стилей
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'phone' {
    @media (max-width: 600px) { @content; }
  } @else if $breakpoint == 'tablet' {
    @media (max-width: 900px) { @content; }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: 901px) { @content; }
  }
}

// Флексбокс
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Текст
@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Миксин для стилей кнопки
@mixin button-style {
  padding: $spacing-small $spacing-medium;
  border: none;
  border-radius: $border-radius;
  background-color: $primary-color;
  color: white;
  font-size: $font-size-base;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-color;
  }
}