$primary-color: #3498db;
$secondary-color: #2ecc71;
$teal-500: #14b8a6;
$rose-500: #f43f5e;
$text-color: #333;
$background-color: #f5f5f5;

// Шрифты
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Отступы
$spacing-small: 16px;
$spacing-medium: 32px;
$spacing-large: 64px;

// Границы
$border-radius: 4px;


// Тени
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Тень для элементов
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); // Тень для текста

// Границы
$border-radius: 4px; // Скругление углов
$border-color: #ddd; // Цвет границы